// ==========================================================================
//   Layout.
// ==========================================================================

// For syncing JavaScript and CSS media queries
body::before {
    content: "xs";
	display: none;
	visibility: hidden;

	@media (--sm) {
        content: "sm";
	}
	@media (--md) {
        content: "md";
	}
	@media (--lg) {
        content: "lg";
	}
	@media (--xl) {
        content: "xl";
	}
}

body,
html {
    min-height: 100vh;
    overflow-x: hidden;
}

.rhythm {
    * + * {
        margin-top: var(--base-rhythm);
    }

    li + li,
    dt, dd {
        margin-top: 0.25rem;
    }
}

.site-container {
    min-height: 100vh;
}

.main {
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    padding: 0 var(--grid-gutter);
    width: 100%;
}