// ==========================================================================
//   Layout.
// ==========================================================================

body,
html {
    min-height: 100vh;
    overflow-x: hidden;
}

.site-container {
    min-height: 100vh;
}

.main {
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    padding: 0 var(--grid-gutter);
    width: 100%;
}