@custom-media --sm (width >= 25em);
@custom-media --md (width >= 48em);
@custom-media --lg (width >= 70em);
@custom-media --xl (width >= 96em);

:root {
    --half-padding: 0.75rem;
    --base-padding: 1.5rem;
    --double-padding: 3rem;
    --triple-padding: 4.5rem;

    --base-rhythm: 1.5rem;
    --fluid-type-min-width: 40;
    --fluid-type-max-width: 60;

    --font-color: #333333;
    --font-base: system-ui;
    --font-header: system-ui;

    --outline-color: lightgreen;
    --selection-color: lightgreen;

    --color-main: rebeccapurple;
    --color-accent: orange;
}