.button {
	--button-color: white;
	--button-background: var(--color-purple-500);

	appearance: none;
	position: relative;
	min-width: 4rem;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: var(--flow-sm);

	font-size: var(--font-size-md);
	font-family: inherit;
	background-color: var(--button-background);
	color: var(--button-color);

	margin: 0;
	padding-block: var(--flow-sm);
	padding-inline: var(--flow-md);

	text-align: center;
	white-space: normal;

	border: 1px solid transparent;
	transition: 0.2s var(--transition-ease);
	cursor: pointer;

	&,
	&:hover,
	&:focus {
		text-decoration: none;
		outline: none;
	}

	&:hover:not([disabled]) {
		border-color: var(--button-color);
	}

	&:active {
		top: 1px;
	}

	&[disabled] {
		cursor: not-allowed;
		opacity: 0.45;
	}
}
