.button {
	appearance: none;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 6rem;
	text-align: center;
	white-space: normal;
	margin: 0;
	padding: var(--flow-sm) var(--flow-md);
	font-size: 1rem;
	font-family: inherit;
	border: 1px solid transparent;
	background-color: var(--color-purple-500);
	color: white;
	transition: 0.2s ease-out;
	cursor: pointer;

	&,
	&:hover,
	&:focus {
		text-decoration: none;
		outline: none;
	}

	&:hover:not([disabled]) {
		border-color: white;
	}

	&:active {
		top: 1px;
	}

	&[disabled] {
		cursor: not-allowed;
		opacity: 0.45;
	}

	.icon {
		color: inherit;
		margin-left: var(--flow-sm);
	}
}
