{
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true
	},
	"parser": "babel-eslint",
	"rules": {
		"indent": ["warn", "tab"],
		"semi": ["error", "always"],
		"no-unused-vars": [
			"warn",
			{ "vars": "all", "args": "none", "ignoreRestSiblings": false }
		]
	}
}
