// ==========================================================================
//   The Foundation.
// ==========================================================================

// Breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 1120px,
    xl: 1640px
);

// Container width
$container-widths: (
    sm: 540px,
    md: 720px,
    lg: 1080px,
    xl: 1520px
);

// Grid
$grid-cols: 12;

:root {
    --grid-gutter: 1.875rem;

    --base-padding: 1.5rem;
    --double-padding: 3rem;
    --triple-padding: 4.5rem;

    --main-color: rebeccapurple;
    --accent-color: orange;

    --white: #FFFFFF;
    --black: #000000;

    --font-color: #333333;
    --base-green: #4caf50;
    --base-yellow: #ffeb3b;
    --base-blue: #2196f3;
    --base-red: #f44336;

    --font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-header: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

// For syncing JavaScript and CSS media queries
#breakpoint-sync {
    font-weight: 100;

    @include breakpoint-min(sm) { font-weight: 200; }
    @include breakpoint-min(md) { font-weight: 300; }
    @include breakpoint-min(lg) { font-weight: 400; }
    @include breakpoint-min(xl) { font-weight: 500; }
}

html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -ms-overflow-style: scrollbar;
}

// Prevents margin and border from affecting element width.
* {
    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

// Shim for "new" HTML5 structural elements to display correctly
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

// Make viewport responsive
// @link - https://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design
@-ms-viewport {
    width: device-width;
}

body {
    margin: 0;
    padding: 0;
}

// Remove default spacing and border for appropriate elements.
h1, h2, h3, h4, p, blockquote, figure, ol, ul, ol ol, ul ul, ol, ul, ul ol, dl, dt, dd, pre {
    margin: 0;
    padding: 0;
}

b, strong {
    font-weight: bold;
}

button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;

    // Fix for transparent `button` backgrounds in Firefox/IE.
    &::focus {
        outline: 1px dotted;
        outline: 5px auto -webkit-focus-ring-color;
    }
}

// iOS "clickable elements" fix for role="button"
// @link - https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
[role="button"] {
    cursor: pointer;
}

button, input, select, textarea {
    font: inherit;
}

button, input, select {
    overflow: visible;
    margin: 0;
}

textarea {
    resize: vertical;
    overflow: auto;
}

// Click delay optimization for touch
// @link - http://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
a, area, button, [role="button"], input, label, select, summary, textarea {
    touch-action: manipulation;
}

a,
button {
    color: var(--main-color);
}

a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;

    &:hover {
        text-decoration: underline;
    }
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

iframe {
    border: 0;
}

// Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
//
// Credit: https://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay
[tabindex="-1"]:focus {
    outline: none !important;
}

table {
    border-collapse: collapse;
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    border-style: none;
}

// Hide the overflow in IE.
svg:not(:root) {
    overflow: hidden;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

:focus {
    outline: 0;
}

[hidden] {
    display: none !important;
}
