// ==========================================================================
//   Buttons.
// ==========================================================================

.button {
    width: 100%;
    appearance: none;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    margin: 0;
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: 0;
    background-color: var(--main-color);
    color: white;
    transition: all 0.2s ease-in;

    @media (--sm) {
        width: auto;
    }

    &,
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }

    &:hover:not([disabled]) {
        background-color: var(--accent-color);
    }

    &:active {
        top: 1px;
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.45;
    }
}
