<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Title -->
    <title>{{ page_title }}</title>

    <!-- Core Meta Data -->
    <meta name="description" content="{{ page_description }}">
    <link rel="canonical" href="{{ setting.url }}/{{ page_slug }}">

    <!-- Schema.org markup -->
    <meta itemprop="name" content="{{ page_title }}">
    <meta itemprop="description" content="{{ page_description }}">
    <meta itemprop="image" content="{{ setting.imageurl }}">

    <!-- Open Graph Meta Data -->
    <meta property="fb:app_id" content="{{ setting.facebookapp }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:description" content="{{ page_description }}">
    <meta property="og:image" content="{{ setting.imageurl }}">

    <!-- Twitter Card Meta Data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ setting.twitterid }}">
    <meta name="twitter:title" content="{{ page_title }}">
    <meta name="twitter:description" content="{{ page_description }}">
    <meta name="twitter:image" content="{{ setting.imageurl }}">

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="apple-touch-icon" href="/favicon.png">

    <!-- Disable automatic detection and formatting of possible phone numbers -->
    <meta name="format-detection" content="telephone=no">

    <!-- WebFonts -->
    <link href="" rel="preload">

    <!-- CSS -->
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body class="{{ body_classes }}">

    <!-- Skip to content -->
    <div id="skiptocontent" class="visuallyhidden">
        <a href="#main">skip to main content</a>
    </div>

    <!-- SVGs for use -->
    <div id="layout-svgs" class="layout-svgs"></div>

	<div id="site-container" class="site-container">

        <!-- Header -->
        <header id="header" class="header" role="banner">
            {% block header %} {% endblock %}
        </header>

        <!-- Main -->
        <main id="main" class="main rhythm" role="main">
            {% block main %} {% endblock %}
        </main>

        <!-- Footer -->
        <footer id="footer" class="footer" role="contentinfo">
            {% block footer %} {% endblock %}
        </footer>

    </div>

    <!-- JavaScript -->
    <script src="/js/vendor.bundle.js"></script>
    <script src="/js/app.bundle.js"></script>
</body>

</html>