<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>{{ page_title }}</title>

		<script type="module">
			document.documentElement.classList.remove('no-js');
			document.documentElement.classList.add('js');
		</script>

		<meta name="description" content="{{ page_description }}" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{ page_title }}" />
		<meta property="og:description" content="{{ page_description }}" />
		<meta property="og:image" content="{{ setting.imageurl }}" />
		<meta property="og:image:alt" content="{{ setting.imagealt }}" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta
			property="og:og:url"
			content="{{ setting.url }}/{{ page_slug }}"
		/>
		<link rel="canonical" href="{{ setting.url }}/{{ page_slug }}" />

		<link rel="icon" href="/favicon.ico" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/favicon.png" />
		<link rel="manifest" href="/my.webmanifest" />
		<meta name="theme-color" content="" />

		<meta name="format-detection" content="telephone=no" />
		<meta name="twitter:dnt" content="on" />

		<!--<link href="" rel="preload" />-->

		<style>
			html {
				visibility: hidden;
				opacity: 0;
			}
		</style>
		<link rel="stylesheet" href="/styles/style.css" />
	</head>

	<body class="{{ body_classes }}">
		<!-- Skip to content -->
		<div id="skiptocontent" class="visuallyhidden">
			<a href="#main">skip to main content</a>
		</div>

		<!-- SVGs for use -->
		<div id="layout-svgs" class="layout-svgs"></div>

		<div id="site-container" class="site-container">
			<!-- Header -->
			<header id="header" class="header">
				{% block header %} {% endblock %}
			</header>

			<!-- Main -->
			<main id="main" class="main flow">
				{% block main %} {% endblock %}
			</main>

			<!-- Footer -->
			<footer id="footer" class="footer">
				{% block footer %} {% endblock %}
			</footer>
		</div>

		<!-- JavaScript -->
		<script src="/js/vendor.bundle.js"></script>
		<script src="/js/main.bundle.js"></script>
	</body>
</html>
