body::before {
	content: 'xs';
	display: none;
	visibility: hidden;

	@media (--sm) {
		content: 'sm';
	}
	@media (--md) {
		content: 'md';
	}
	@media (--lg) {
		content: 'lg';
	}
	@media (--xl) {
		content: 'xl';
	}
	@media (--2xl) {
		content: '2xl';
	}
}

body,
html {
	min-height: 100vh;
	overflow-x: hidden;
}

.flow {
	* + * {
		margin-top: var(--flow-md);
	}

	*:not(:--heading) + :--heading {
		margin-top: var(--flow-lg);
	}

	ul ul,
	ol ol,
	li + li,
	dt,
	dd {
		margin-top: var(--flow-xs);
	}
}

.site-container {
	max-width: 120rem;
	margin: 0 auto;
}

.container {
	margin: 0 auto;
	padding: 0 var(--flow-md);
	max-width: 36rem;

	@media (--lg) {
		max-width: 62rem;
	}

	@media (--xl) {
		max-width: 72rem;
	}
}
