@custom-media --sm (width >= 25em);
@custom-media --md (width >= 48em);
@custom-media --lg (width >= 70em);
@custom-media --xl (width >= 96em);
@custom-media --xxl (width >= 120em);
@custom-selector :--heading
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6;

:root {
	--flow-xxs: 0.375rem;
	--flow-xs: 0.5rem;
	--flow-sm: 0.75rem;
	--flow-md: 1rem;
	--flow-lg: 1.25rem;
	--flow-xl: 1.875rem;
	--flow-xxl: 2.5rem;

	--fluid-type-min-width: 25;
	--fluid-type-max-width: 120;

	--transition-smooth: cubic-bezier(0.765, 0, 0.175, 1);

	--font-base: system-ui;
	--font-header: system-ui;

	--color-purple-500: rebeccapurple;
	--color-orange-500: orange;

	--color-neutral-900: #1c1c1c;
	--color-neutral-800: #2d2d2d;
	--color-neutral-700: #595959;
	--color-neutral-600: #646464;
	--color-neutral-500: #9e9e9e;
	--color-neutral-400: #bbbbbb;
	--color-neutral-300: #d8d8d8;
	--color-neutral-200: #ececec;
	--color-neutral-100: #f5f5f5;

	--font-color: #333333;
	--heading-color: white;
	--link-color: white;

	--outline-color: lightgreen;
	--selection-color: lightgreen;
}
