:--heading {
	display: inline-block;
	width: 100%;
	color: var(--heading-color);
	font-family: var(--font-header);
	line-height: 1.2;
}

h1,
.h1 {
	font-size: var(--font-size-2xl);
}

h2,
.h2 {
	font-size: var(--font-size-xl);
}

h3,
.h3 {
	font-size: var(--font-size-lg);
}

h4,
.h4 {
	font-size: var(--font-size-md);
}

h5,
.h5 {
	font-size: var(--font-size-sm);
}

h6,
.h6 {
	font-size: var(--font-size-xs);
}

a[href] {
	color: var(--color-link);
}

p,
ul,
ol {
	font-size: var(--font-size-md);
	line-height: var(--font-lineheight-md);

	&:empty {
		display: none;
	}
}

ul,
ol {
	padding-left: var(--flow-md);

	ul,
	ol {
		padding-left: var(--flow-md);
	}
}

blockquote {
	position: relative;
	font-style: italic;
	padding-left: var(--flow-md);
}
